<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Reportes.My.MySettings.CampoConnectionString" connectionString="Data Source=CPX-8TA9T0SXV1S\SQLEXPRESS;Initial Catalog=Campo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>